@forward 'navigation';
@use '../../globals/colors' as Colors;

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 1.5rem 3.25rem 1.4rem;
    position: fixed;
    top: 0;
    width: 100%;

    .header-logo {
        position: relative;
        right: 2.6%;
        transform: scale(0.81);
    }

    svg {
        display: block;
    }

    .menu-close {
        display: none;
        padding-right: 0.1rem;
    }
}