@forward 'navigation';
@use '../../globals/colors' as Colors;

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 3.25rem 1.5rem 3.25rem 0.9rem;
    position: absolute;
    top: 0;
    width: 100%;

    .header-logo {
        position: relative;
        transform: scale(0.81);
    }

    svg {
        display: block;
    }

    .menu-close {
        display: none;
        padding-right: 0.1rem;
    }
}

@media all and (min-width: 90rem) {
    .header {
        padding: 3.7rem 10.45rem;

        .header-logo {
            transform: scale(1);
        }

        .header-menu-toggler {
            display: none;
        }
    }
}