@forward 'sections';
@use '../../globals/colors' as Colors;

.footer {
    background-color: Colors.$n-very-dark-black-blue;
    border-radius: 0 6.25rem 0 0;
    display: flex;
    padding: 4.7rem 1.5rem;
    text-align: center;
    min-height: 60vmax;

    .footer-wrapper {
        display: flex;
        flex-flow: column wrap;
        min-width: 100%;
        row-gap: 3.75rem;
    }
    
    ul {
        list-style-type: none;

        a {
            text-decoration: none;
        }
    }
}

@media all and (min-width: 90rem) {
    .footer {
        text-align: left;
        margin: 7rem 0 0;
        min-height: max-content;
        padding: 4.5rem 4rem 4rem;

        .footer-wrapper {
            flex-wrap: nowrap;
            column-gap: 2rem;

            &,
            .f-nav {
                flex-direction: row;
                row-gap: initial;
            }

            .footer-logo {
                padding: 0 2rem;
                width: 23.25%;
            }

            .f-nav {
                flex: 1;
                margin: 0.33rem 0 0;
                padding: 0 3rem;

                & > * {
                    flex: 1 1 100%;
                }

                .f-sub-nav-wrapper {
                    row-gap: 1.35rem;
                    
                    .f-nav-heading,
                    .f-sub-nav-link {
                        font-size: 0.95rem;
                    }
    
                    .f-sub-nav-item {
                        margin: 0.9rem 0;
                    }
    
                    .f-sub-nav-link {
                        transition: all 250ms ease-in 25ms;

                        &:link,
                        &:visited {
                            opacity: 0.8;
                        }

                        &:hover {
                            text-decoration: underline;
                            opacity: 1;
                        }
                    }
                }

            }
        }
    }
}