@use '../../globals/colors' as Colors;

.footer-logo {
    display: flex;
    justify-content: center;
}

.f-nav {
    &,
    .f-sub-nav-wrapper {
        display: flex;
        flex-flow: column;
    }
    flex-wrap: wrap;
    row-gap: 2.5rem;
    margin: 1rem 0 0;

    .f-sub-nav-wrapper {
        row-gap: 1.2rem;
        
        .f-nav-heading {
            color: Colors.$n-white;
            font-size: 1.1rem;
            font-weight: 500;
            opacity: 0.9;
        }
    
        .f-sub-nav-item {
            margin: 0.75rem 0;
        }

        a {
            color: Colors.$n-grayish-blue;
            font-size: 1.15rem;
        }
    }
}

@media all and (min-width: 90rem) {
    .footer-logo {
        padding: 0 2rem;
        width: 23.25%;
    }

    .f-nav {
        flex: 1;
        margin: 0.33rem 0 0;
        padding: 0 3rem;

        & > * {
            flex: 1 1 100%;
        }

        .f-sub-nav-wrapper {
            row-gap: 1.35rem;
            
            .f-nav-heading,
            .f-sub-nav-link {
                font-size: 0.95rem;
            }

            .f-sub-nav-item {
                margin: 0.9rem 0;
            }

            .f-sub-nav-link {
                transition: all 250ms ease-in 25ms;

                &:link,
                &:visited {
                    opacity: 0.8;
                }

                &:hover {
                    text-decoration: underline;
                    opacity: 1;
                }
            }
        }
    }
}