// Primary
$p-light-red: hsl(356, 100%, 66%); // CTA text
$p-very-light-red: hsl(355, 100%, 75%); // CTA hover background
$p-very-dark-blue: hsl(208, 49%, 24%); // Headings

// Neutral
$n-white: hsl(0, 0%, 100%); // Text
$n-grayish-blue: hsl(240, 2%, 79%); // Footer text
$n-very-dark-grayish-blue: hsl(207, 13%, 34%); // Body copy 
$n-very-dark-black-blue: hsl(240, 10%, 16%); // Footer background

// Gradient

// Background gradient - Intro/CTA mobile nav
$g-light-red: hsl(353, 100%, 62%);
$g-very-light-red: hsl(13, 100%, 72%);

// Background gradient - body
$g-very-dark-gray-blue: hsl(237, 17%, 21%);
$g-very-desaturated-blue: hsl(237, 23%, 32%);

// Nav Item
$nav-item-active: hsla(208, 49%, 24%, 0.7);

// Sub Nav Item
$sub-nav-item-bg: hsla(0, 0%, 34%, 0.1);
$sub-nav-link: hsla(208, 49%, 24%, 0.75);