@font-face {
    font-family: 'Overpass';
    src: url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;1,300;1,600&display=swap"');
    font-weight: 300 600;
    font-style: normal italic;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu';
    src: url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
    font-weight: 400 700;
    font-style: normal italic;
    font-display: swap;
}

.nav-item-button,
.sub-nav-wrapper a,
.hero-heading,
.hero-sub-heading,
.f-heading,
.f-sub-heading,
.f-texts-heading,
.f-texts-sub {
    font-family: 'Overpass', sans-serif;
}
.cta,
.f-nav-heading,
.f-sub-nav-link {
    font-family: 'Ubuntu', sans-serif;
}